<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Taller 1</title>

  <!-- Bootstrap core CSS -->
  {% load static %}
  <link href="{% static 'taller_1/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'taller_1/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'taller_1/css/grayscale.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Sistemas de Recomendacion</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#page-top">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#iniciar_sesion">Iniciar Sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#crear_ususario">Crear Usuario</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header id="inicio" class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">Recomendaciones Musicales</h1>
        <h2 class="text-white-50 mx-auto mt-5 mb-5">Plataforma para descubrir tu siguiente canción favorita</h2>
        <a href="#iniciar_sesion" class="btn btn-primary js-scroll-trigger">Iniciar Sesión</a>
         <a href="#crear_ususario" class="btn btn-primary js-scroll-trigger">Crear Usuario</a>
      </div>
    </div>
  </header>

  <!-- Inicio Sesion -->
  <section id="iniciar_sesion" class="signup-section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">

          <h2 class="text-white mb-5">Ingrese su Usuario y Contraseña</h2>

          <form action="{% url 'taller_1:iniciar_sesion' %}" method="POST" enctype="multipart/form-data" id = 'form_iniciar_sesion'> 
          {% csrf_token %}
            <div class = "row">
              <div class="col-2"></div>
              <div class="col-8">
                <label class="text-white" for="id_ususario_registrado">Usuario</label>
                <div class="form-group">
                    <input type="text" class="form-control" id="id_ususario_registrado" name="id_ususario_registrado" placeholder="ID de Usuario" required="True">
                  </div>
                </div>
                <div class="col-2"></div>
            </div>
            <div class = "row">
              <div class="col-2"></div>
              <div class="col-8">
                <label class="text-white"  for="pwd_ususario_registrado">Contraseña</label>
                <div class="form-group">
                    <input type="password" class="form-control" id="pwd_ususario_registrado" name="pwd_ususario_registrado" placeholder="Contraseña" required="True">
                  </div>
                </div>
                <div class="col-2"></div>
            </div>

            <div class="row">
              <div class="col">
                <button type="submit" class="btn btn-primary mx-auto">Ingresar</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </section>



  <!-- Crear Usuario -->
  <section id="crear_ususario" class="about-section text-center">
    
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">

          <h2 class="text-white mb-5">Ingrese sus Datos</h2>

          <form action="{% url 'taller_1:crear_usuario' %}" method="POST" enctype="multipart/form-data" id = 'form_crear_usuario'> 
            {% csrf_token %}
              <div class = "container">

              <div class = "row">
                <div class="col-2"></div>
                <div class="col-8">
                  <label class="text-white" for="id_ususario_nuevo">Usuario</label>
                  <div class="form-group">
                      <input type="text" class="form-control" id="id_ususario_nuevo" name="id_ususario_nuevo" placeholder="ID de Usuario" required="True">
                    </div>
                  </div>
                  <div class="col-2"></div>
              </div>
              <div class = "row">
                <div class="col-2"></div>
                <div class="col-8">
                  <label class="text-white"  for="pwd_ususario_nuevo">Contraseña</label>
                  <div class="form-group">
                      <input type="password" class="form-control" id="pwd_ususario_nuevo" name="pwd_ususario_nuevo" placeholder="Contraseña" required="True">
                    </div>
                  </div>
                  <div class="col-2"></div>
                 </div>

                  <div class="row">
                    <div class="col-2"></div>
                          <div class="col-4">
                            <label class="text-white"  for="edad">Edad</label>
                            <div class="form-group">
                             <input class="form-control" type="number" placeholder = "Ingrese su Edad" min = "1" max = "120" name="edad" id="edad">
                          </div>
                          </div>

                           <div class="col-4">
                              <label class="text-white"  for="sexo">Género</label>
                              <select class="form-control" name="sexo" id="sexo">
                                <option></option>
                                <option value= 'No Dice'>Prefiero no decirlo</option>
                                <option>Mujer</option>
                                <option>Hombre</option>
                                <option>Otro</option>
                              </select>
                          </div>

                          <div class="col-2"></div>
                        </div>

                  <div class="row">
                    <div class="col">
                      <button type="submit" class="btn btn-primary mx-auto">Crear Usuario</button>
                    </div>
                  </div>

                </div>
            </form>

        </div>
      </div>
    </div>

    
  </section>


  
  <!-- Contact Section -->
  <section class="contact-section bg-black">
    <div class="container">

      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Yacir Ramirez</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="#">ya.ramirez1763@uniandes.edu.co</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Giovanny Nico</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="#">Ga.ninco@uniandes.edu.co</a>
              </div>
            </div>
          </div>
        </div>


                <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Felipe González Casabianca</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="#">f.gonzalez1899@uniandes.edu.co</a>
              </div>
            </div>
          </div>
        </div>
        

    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Universidad de los Andes &copy; Sistemas de Recomendación
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/grayscale.min.js"></script>

</body>

</html>
