<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Recomendaciones</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  {% load static %}
  <link href="{% static 'taller_2/css/styles.css' %}" rel="stylesheet" />

<script src="{% static 'taller_2/js/lugares.js' %}" ></script>

</head>

<body id="page-top">

<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#" >¿A Dónde Ir?</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/taller_2/bienvenido">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/taller_2/recomendaciones/--3WaS23LcIXtxyFULJHTA">Recomendaciones<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<!-- Seleccion del lugar -->
<div class="container mt-3 py-1">
  <div class="jumbotron">
    <div class="row">
      <div class="col-12">
        <h3>Lugares Disponibles</h3>
        <label class="text-black"  for="select_lugar">¿Dónde te encuentras?</label>
        <select class="form-control" name="select_lugar" id="select_lugar" onchange="refrescarLugar();">
          <option value = "NC">NC</option>
          <option value = "AZ">AZ</option>
          <option value = "QC">QC</option>
          <option value = "IL">IL</option>
          <option value = "ON">ON</option>
          <option value = "PA">PA</option>
          <option value = "WI">WI</option>
          <option value = "SC">SC</option>
          <option value = "OH">OH</option>
          <option value = "OTHER">Otro</option>
        </select>
      </div>
    </div>


    <div class="row mt-1">
      <div class="col-12">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#detalles_lugar" aria-expanded="false" aria-controls="collapseExample">
          Detalles del Lugar
        </button>
      </div>
    </div>
    <hr class="my-2">

    <div class="collapse" id="detalles_lugar">
      
      <div class="row">
        <div class="col-7">
        <!-- Imagen -->
          <img id = "img_location" src="{% static 'taller_2/img/OH.jpg' %}" class="img-fluid" alt="State">
        </div>
        <div class="col-5">
            <h5 id = "lugar_titulo">Ohio EEUU</h5>
            <hr class="my-3">
            <p id = "lugar_pais"><strong>Pais: </strong> Estados Unidos de América </p>
            <p id = "lugar_poblacion"><strong>Población: </strong> 45'300,000 Personas</p>
            <p id = "lugar_capital"><strong>Capital: </strong> Columbus</p>
        </div>
      </div>

      <hr class="my-3">


      <div class="row">
        <div class="col-6">
          <p><strong>Top Actividades:</strong> </p>
          <ul id="lista_actividades" class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Cras justo odio
              <span class="badge badge-primary badge-pill">14</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Dapibus ac facilisis in
              <span class="badge badge-primary badge-pill">2</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Morbi leo risus
              <span class="badge badge-primary badge-pill">1</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Morbi leo risus
              <span class="badge badge-primary badge-pill">1</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Morbi leo risus
              <span class="badge badge-primary badge-pill">1</span>
            </li>
          </ul>
        </div>
   
        <div class="col-6">
          <p><strong>Top Negocios: </strong>  </p>
            <ul id="lista_negocios" class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Cras justo odio
                <span class="badge badge-primary badge-pill">14</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Dapibus ac facilisis in
                <span class="badge badge-primary badge-pill">2</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Morbi leo risus
                <span class="badge badge-primary badge-pill">1</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Morbi leo risus
                <span class="badge badge-primary badge-pill">1</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Morbi leo risus
                <span class="badge badge-primary badge-pill">1</span>
              </li>
            </ul>
        </div>

      </div>
    </div>
  </div>
</div>  



<div class="container mt-1">
  <div class="row">
 <!-- Recomendaciones -->
    <div class="col-12">
      <div class="card border-primary mb-3" style="max-width: 100%;">
        <div class="card-header"></div>
        <div class="card-body">
          <h4 class="card-title">Nuestras Recomendaciones</h4>
          <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Lugar</th>
              <th scope="col">Calificación</th>
              <th scope="col">Tipo</th>
            </tr>
          </thead>
          <tbody>
          	{% for lug in lugares %}
				      <tr>
	              <td>{{lug.lugar}}</td>
	              <td>{{lug.stars}}</td>
                <td>Restaurante</td>
	            </tr>
			      {% endfor %}
          </tbody>
        </table>  


        </div>
      </div>
    </div>

  </div>
</div>




<!-- Bootstrap JS and JQUERY -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>



<!-- Script de los lugares-->
<script type="text/javascript">

    var locations_info_loc = "{% static 'taller_2/data/locations.json' %}";
    var img_location = "{% static 'taller_2/img/STATE.jpg' %}";
    refrescarLugar("NC");
    

</script>


</body>